//===============================================//
//      Buttons         //
//===============================================//

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
.default {
    @include button($login);
  }
  
.error {
    @include button($error);
  }
  
.info {
     @include button($info);
  }
  
.success {
    @include button($success);
  }
  
.warning {
    @include button($warning);
  }



  